Importing libraries

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv('Churn.csv')

In [5]:
df.head()

,Customer ID,Gender,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Internet Service,Online Security,...,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn
0,7590-VHVEA,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
2,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
3,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
4,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No

In [8]:
X = pd.get_dummies(df.drop(['Churn','Customer ID',], axis=1))

In [10]:
y = df['Churn'].apply(lambda x: 1 if x == 'Yes' else 0)

In [11]:
# Train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
X_train.head()

,Senior Citizen,tenure,Monthly Charges,Gender_Female,Gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,Phone Service_No,...,Total Charges_995.35,Total Charges_996.45,Total Charges_996.85,Total Charges_996.95,Total Charges_997.65,Total Charges_997.75,Total Charges_998.1,Total Charges_999.45,Total Charges_999.8,Total Charges_999.9
1161,1,23,95.10,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3780,1,66,79.40,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3044,1,2,30.40,1,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4085,0,1,78.05,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1362,0,4,78.45,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
y_train.head()

1161    0
3780    1
3044    1
4085    1
1362    1
Name: Churn, dtype: int64